.cateBar {
  padding-top: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.cateBar::-webkit-scrollbar {
  display: none;
}
.cateBar .cateChip {
  cursor: pointer;
  margin: 5px 6px;
  background-color: #33333350;
  padding: 4px 8px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
